<?xml version="1.0"?>
<!--* @category    SchumacherFM_Pace-->
<!--* @package     etc-->
<!--* @author      Cyrill at Schumacher dot fm / @SchumacherFM-->
<!--* @copyright   Copyright (c)-->
<config>
    <modules>
        <SchumacherFM_Pace>
            <version>1.0.0</version>
        </SchumacherFM_Pace>
    </modules>

    <adminhtml>
        <layout>
            <updates>
                <magepace>
                    <file>pace.xml</file>
                </magepace>
            </updates>
        </layout>
    </adminhtml>
</config>