<?xml version="1.0"?>
<!--* @category    SchumacherFM_Pace-->
<!--* @package     etc-->
<!--* @author      Cyrill at Schumacher dot fm / @SchumacherFM-->
<!--* @copyright   Copyright (c)-->
<config>
    <modules>
        <SchumacherFM_Pace>
            <version>1.0.0</version>
        </SchumacherFM_Pace>
    </modules>

    <global>
        <models>
            <magepace>
                <class>SchumacherFM_Pace_Model</class>
            </magepace>
        </models>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_after>
                <observers>
                    <schumacherfm_pace>
                        <class>magepace/observer</class>
                        <method>injectPace</method>
                    </schumacherfm_pace>
                </observers>
            </core_block_abstract_to_html_after>
        </events>
    </adminhtml>

</config>